[build]
  command = "npm install && mkdir -p public/assets public/lib public/core && cp -rv node_modules/@titaniumnetwork-dev/ultraviolet/dist/* public/assets/ && cp -rv node_modules/@mercuryworkshop/epoxy-transport/dist/* public/lib/ && cp -rv node_modules/@mercuryworkshop/bare-mux/dist/* public/core/"
  publish = "public"

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin"
    Cross-Origin-Embedder-Policy = "require-corp"
