[build]
  command = "npm install && mkdir -p public/uv public/epoxy public/baremux && cp -rv node_modules/@titaniumnetwork-dev/ultraviolet/dist/* public/uv/ && cp -rv node_modules/@mercuryworkshop/epoxy-transport/dist/* public/epoxy/ && cp -rv node_modules/@mercuryworkshop/bare-mux/dist/* public/baremux/"
  publish = "public"

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin"
    Cross-Origin-Embedder-Policy = "require-corp"
