[build]
  command = "npm install && mkdir -p public/x1y2 public/c5d6 public/a3b4 && cp -rv node_modules/@titaniumnetwork-dev/ultraviolet/dist/* public/x1y2/ && cp -rv node_modules/@mercuryworkshop/epoxy-transport/dist/* public/c5d6/ && cp -rv node_modules/@mercuryworkshop/bare-mux/dist/* public/a3b4/"
  publish = "public"

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin"
    Cross-Origin-Embedder-Policy = "require-corp"
